<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <title>首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
		<script src="/javascripts/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/homepage.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
  	<div id="boke">
  		<div id="banner">
  			<img src="../images/banner.jpg"/>
  		</div>
  		<div class="container-fluid con container">
    		<%- include('header.ejs') %>
			  <div class="row-fluid">
			    <div class=" col-md-8">
			    	<div class="box1">
			    		<img src="../images/art.jpg"/>
			    	</div>
			    	<div class="box2 row-fluid">
			    			<h3>文章推荐</h3>
			    			<figure class=" col-md-10">
			    				<figcaption>如何建立个人博客？</figcaption>
			    				<p>想必很多人都想建立一个，属于自己的个人博客，把自己的一些学习的经验和经历，通过互联网的形式来分享给别人。通过分享与网友进行互动，让更多的人了解和认识你，并且树立自己在互联网上的个人品牌</p>
			    			</figure>
								<figure class=" col-md-10">
									<figcaption >如何建立个人博客？</figcaption>
			    				<p>想必很多人都想建立一个，属于自己的个人博客，把自己的一些学习的经验和经历，通过互联网的形式来分享给别人。通过分享与网友进行互动，让更多的人了解和认识你，并且树立自己在互联网上的个人品牌</p>
								</figure>
								<figure class=" col-md-10">
									<figcaption>如何建立个人博客？</figcaption>
			    				<p>想必很多人都想建立一个，属于自己的个人博客，把自己的一些学习的经验和经历，通过互联网的形式来分享给别人。通过分享与网友进行互动，让更多的人了解和认识你，并且树立自己在互联网上的个人品牌</p>
								</figure>
								<figure class=" col-md-10">
									<figcaption>如何建立个人博客？</figcaption>
			    				<p>想必很多人都想建立一个，属于自己的个人博客，把自己的一些学习的经验和经历，通过互联网的形式来分享给别人。通过分享与网友进行互动，让更多的人了解和认识你，并且树立自己在互联网上的个人品牌</p>
								</figure>
			    	</div>
			 	`	</div>
 				 	<div class=" col-md-4">
 				 		<div class="person">
 				 				<img src="../images/person.jpg"/>
 				 		</div>
 				 		<div class="box3">
 				 			<h4>摄影作品展</h4>
 				 			<div class="pic">
 				 				<ul class="pic-list">
 				 					<li><img src="../images/pic1.jpg"/ /></li>
 				 					<li><img src="../images/pic2.jpg"/ /></li>
 				 					<li><img src="../images/pic3.jpg"/ /></li>
 				 					<li><img src="../images/pic4.jpg"/ /></li>
 				 					<li><img src="../images/pic5.jpg"/ /></li>
 				 					<li><img src="../images/pic6.jpg"/ /></li>
 				 					<li><img src="../images/pic7.jpg"/ /></li>
 				 					<li><img src="../images/pic8.jpg"/ /></li>
 				 					<li><img src="../images/pic9.jpg"/ /></li>
 				 					
 				 				</ul>
 				 			</div>
 				 		</div>
 				 	</div>
			  </div>
			</div>
  	</div>
    	
  </body>
</html>
