<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>留言板</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' href='/stylesheets/message.css' />
   	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
   	<script src="/javascripts/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
	<script src="/javascripts/homepage.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="container-fluid container">
	<input type="button" value="想留言吗？就不告诉你怎么打开" class="btn btn-success aa"/>
	<div id="liuyanban">
		<form action="users/message" method="post" class="STYLE-NAME elegant-aero">
			<h1>轻轻的你来了，请悄悄的留下您的足迹</h1>
			<label>
				<span>我该怎么称呼你么 :</span>
				<input id="name" type="text" name="nickname" placeholder="昵称" />
			</label>
			<label>
				<span>怎么可以没主题 :</span>
				<input id="email" type="text" name="title" placeholder="Valid Email Address" />
			</label>
			<label>
				<span>内容绝对不能少 :</span>
				<textarea id="message" name="message" placeholder="Your Message to Us"></textarea>
			</label>
			<label>
				<span>&nbsp;</span>
				<input type="submit" class="button bb" value="留言" />
			</label>
		</form>
	</div>
	
	
	
	<h2>信笔涂鸦</h2>
	<table class="table">
		<tr>
			<th>昵称</th>
			<th>标题</th>
			<th>内容</th>
		</tr>
		<% result.forEach(function(item,i){ %>
			<tr>
				<td><%- item.name %></td>
				<td><%- item.title %></td>
				<td><%- item.con %></td>
			</tr>
		<% }) %>
		
	</table>
</div>	
</body>
</html>